.arch-installed {
  font-weight: bold;
}

.distro-logo {
  height: 300px;
  width: 200px;
}

.fig-caption {
  text-align: center;
  font-weight: bold;
}

.quote {
  text-align: center;
  font-weight: bold;
  font-size: larger;
}

.continuation {
  text-align: right;
  font-weight: bold;
}

.lyrics-section {
  font-weight: 600;
}

.lyrics-strong {
  font-weight: bold;
}
